<h1>New resource_allocation</h1>

<% form_for(@resource_allocation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', resource_allocations_path %>