<%= stylesheet_link_tag "screen", "typography", "forms", "errors", "tables", :media => "screen, projection" %>
<%= stylesheet_link_tag "print", :media => "print" %>
<div class="container">
	<div class="span-24">Header</div>
	<div class="span-24">Tab bar</div>
	<div class="span-4">Left Sidebar</div>
	<div class="span-16">Main content</div>
	<div class="span-4 last">Right Sidebar</div>
	<div class="span-24">Footer</div>
</div>
	